*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    margin-left: 130px;
}
.card{
    background-image: url(../TASK/images/img1.jpeg);
    height: 500px;   
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    text-align: center;
    align-items: center;
}
.card h1{
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
.card p {
    margin-top: 120px;
    color: #fff;
    font-weight: 500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    margin-bottom: 120px;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.div1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.div2{
    width: 25%;
    text-align: center;
    
}
 i{
    font-size: 50px;
    margin-bottom: 10px;
}
.div3{
    width: 25%;
    text-align: center;
}
.div4{
    width: 25%;
    text-align: center;
}
.div-one{
    background-color: rgb(206, 204, 204);
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 20%;
    border: 1px solid darkgrey;
}
.card-body{
    background-color:rgb(233, 220, 204);
    border: 1px solid darkgrey;
}
.card2{
    width: 20%;
    border: 1px solid darkgrey;
  

}
.card3{
    width: 20%;
    border: 1px solid darkgrey;
}

.cards2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 20px;
}
.one{
    width: 25%;
    margin-top: 20px;
}
.cards1{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 600px){
.icon{
    display: block;
    margin-left: 200px;
}
.icon div{
    width: 50%;
}
}



@media (max-width: 500px){
    .card{
     background-size: 200%;
     } 
     .icon{        
        display: flex;
        flex-direction: column;
        margin-right: 250px;
    }
    .icon div{
        width: 500%;
    }
    .cards{
        display: flex; 
        flex-direction: column;
    }
    .cards div{
        width: 100%;
    }
    .cards2{      
        display: flex;
        flex-direction: column;
        }
    .cards2 div{
        width: 100%;
    }
    }
    @media (max-width: 250px){
        .icon {
            display: flex ;
            flex-direction: column;
            margin-left: -250px;
        }
        .icon div{
            width: 200%;
            text-align: center;
        }
    }